.noto-sans-tc-font {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.container{
    margin: auto;
    width: 80%;
}

h1{
    text-align: left;
}

img {
    box-shadow: 3px 3px lightgray;
    margin: 10px;
}